# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
dist/
downloads/
eggs/
.eggs/
parts/
sdist/
var/
*.egg-info/
pip-wheel-metadata/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Django
# Local DB
db.sqlite3
db.sqlite3-journal
# Media and static output
media/
staticfiles/

# Environment variables / virtualenv
.env
.env.*
venv/
ENV/
env/
.venv/

# PyInstaller
*.manifest
*.spec

# Logs
*.log

# Editor directories and files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS files
.DS_Store
Thumbs.db

# Node
node_modules/

# Misc
.mypy_cache/
.pytest_cache/
.ropeproject/
.cache/
__MACOSX/
*.sqlite3
*.sqlite

# Celery
celerybeat-schedule

